<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.rtl.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='google-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.gritter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.style-responsive.min.css') }}">

    <script src="static/jquery-1.10.2.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    <script src="static/respond.min.js"></script>
    <script src="static/apps.min.js"></script>
    <script src="static/app.js"></script>
    <script src="static/dts.js"></script>
    <script src="static/select2.full.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <title id="title">hospital</title>

  </head>
  <body>
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    </script>
  </body>
</html>
