{% extends 'layout.html' %}
 , Address ,age
{% block body %}
  <h1>اضافة مريض</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.PatientName, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.Address, class_="form-control", id="editor") }}
    </div>
        <div class="form-group">
      {{ render_field(form.age, class_="form-control", id="editors") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
