{% extends '_layoutHome.html' %}


{% block body %}

</body>
<div id="mdshift">
    <div class="modal-med">
        <div class="modal-content">
              <form method="POST" action="">
            <div class="modal-header">
                <label class="modal-title">اضافة خدمة جديدة </label>
            </div>
                  <form action="" method="POST">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label>اسم الخدمة</label>
                        <input type="text" name="ServName" class="form-control" value={{request.form.PatientName}}>
                    </div>
                    <div class="form-group">
                        <label>السعر </label>
                        <input type="text" name="Price" class="form-control" value={{request.form.Address}}>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p><input class="btn btn-primary" type="submit" value="Submit">
            </div>
                  </form>
        </div>
    </div>
</div>
  </form>

{% endblock %}
