{% extends 'layout.html' %}

{% block body %}
  <h1>  <small> مرحبا {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_patient"> اضافة مريض</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>address</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for patient in patients %}
      <tr>
        <td>{{patient.ID}}</td>
        <td>{{patient.PatientName}}</td>
        <td>{{patient.Address}}</td>
        <td>{{patient.CreateDate}}</td>
        <td><a href="edit_patient/{{patient.ID}}" class="btn btn-default pull-right">edit</a></td>
        <td>
          <form action="{{url_for('delete_patient', id=patient.ID)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="d" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
