{% extends '_layoutpatient.html' %}


{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                            </div>
                            <h4 class="panel-title">تعديل بيانات مريض </h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="POST" action="">
                                <div class="form-group form-inline ls_form" >
                                    <label class="col-md-3 control-label"> اسم المريض</label>
                                    <div class="col-md-9">
                                    {{ render_field(form.PatientName, class_="form-control" , id="editor") }}
                                    </div>
                                </div>
                                <div class="form-group form-inline ls_form">
                                    <label class="col-md-3 control-label">العنوان</label>
                                    <div class="col-md-9">
                                     {{ render_field(form.Address, class_="form-control", id="editor") }}
                                    </div>
                                </div>
                                <div class="form-group form-inline ls_form">
                                    <label class="col-md-3 control-label">الخدمة</label>
                                    <div class="col-md-9">
                                      {{ render_field(form.ServID, class_="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group form-inline ls_form">
                                    <label class="col-md-3 control-label">السعر</label>
                                    <div class="col-md-9">
                                      {{ render_field(form.Price , class_="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group form-inline ls_form">
                                    <label class="col-md-3 control-label">حفظ</label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-success">احفظ </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
</body>
{% endblock %}