{% extends '_layoutUser.html' %}
{% block body %}
<body>
  <a class="btn btn-success" href="/add_item"> اضافة اصناف جديدة</a>
             <hr>
                <div class="panel-heading" style="height: 50%;">
                    <label class="panel-title" style="font-size:13pt;">  قائمة الاصناف </label>
                </div>
                <div class="panel-body" id="panelwaitlist" style="max-height:100%;   min-height:100%; padding:5px">

                    <table id="patlist" class="table table-striped">
                    <tr>
                    <th>ID</th>
                    <th>ItemName</th>
      <th>Price</th>
      <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.ID}}</td>
        <td>{{article.ItemName}}</td>
           <td>{{article.Price}}</td>
        <td><a href="edit_item/{{article.ID}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_item', id=article.ID)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

                </div>
        <!-- end col-4 -->
</body>
{% endblock %}
</html>
