{% extends '_layoutHome.html' %}


{% block body %}

</body>
<div id="mdshift">
    <div class="modal-med">
        <div class="modal-content">
              <form method="POST" action="">
            <div class="modal-header">
                <label class="modal-title">اضافة مريض </label>
            </div>
                  <form action="" method="POST">
            <div class="modal-body">
                <div class="row">

                    <div class="form-group">
                        <label>اسم المستخدم</label>
                        <input type="text" name="username" class="form-control" value={{request.form.username}}>
                    </div>
                    <div class="form-group">
                        <label>كلمة المرور</label>
                        <input type="password" name="password" class="form-control" value={{request.form.password}}>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p><input class="btn btn-primary" type="submit" value="Submit">
            </div>
                  </form>
        </div>
    </div>
</div>
  </form>

{% endblock %}


