{% extends '_layoutUser.html' %}


{% block body %}
<a class="btn btn-success" href="/register"> اضافة مستخدم</a>
<hr>
<div class="row">
<div class="panel panel-inverse" data-sortable-id="form-stuff-3">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">

                            </div>
                            <h4 class="panel-title" center> المستخدمين</h4>
                        </div>
                        <div class="panel-body">
                            <table id="patlist" class="table table-striped">
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                        <th>Delete</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.name}}</td>
           <td>{{article.email}}</td>
        <td><a href="edit_user/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_user', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
                        </div>
                    </div>

</div>
{% endblock %}


